body{
    margin: 100px auto;
    padding: 0;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
}
span{
    opacity: 0.5;
    padding: 50px ;
    background: rgba(30, 58, 138, 0.35);
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    border-radius: 100px 10px;
    align-items: center;
    width: 10%;
    box-shadow: 1px 1px 10px rgb(58, 56, 56);
}
.div{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
button{
    font-size: 40px;
    border: none;
}
.res i{
    font-size: 40px;
  color: black;
}

h1{
    color: white;
    font-size: 80px;
}
.inc{
    background: yellow;
    border-radius: 10px;
    outline: none;
}
.res{
    background: red;
    border-radius: 10px;
    outline: none;

}
.dec{
    background: green;
    border-radius: 10px;
    outline: none;


}